<h1>This is a profile page</h1>

<div class="border border-3 p-5">
<%= @profile.name %>
<%= @profile.picture %>
<%= @profile.phone %>
</div>

<%= button_to "Change Password", edit_password_path, method: :get, class: "btn btn-dark mt-3" %>